<%- include("header"); %>

<h3>Main Body</h3>

<div>
    <form action = '/' method = "post" >

        <div>Username: <input name = "username"></div>
        <div> Password: <input name = "password"></div>
        
       <button type = "submit ">Login</button>
       <button >Sign up</button>

    </form  >
</div>

<%- include("footer") %>